<section class="characters-section" id="characters">
  <div class="characters-section-wrap container">
    <div class="characters-title-wrap">
      <img class="left-decor" src="./img/left-decor.png" alt="" />
      <h2 class="characters-title">
        <span class="text-fill">Characters</span>
        <span class="text-stroke">Characters</span>
      </h2>
      <img class="right-decor" src="./img/right-decor.png" alt="" />
    </div>
    <div class="characters-content-wrap">
      <img
        class="characters-img"
        src="./img/mobile/characters-img.png"
        alt=""
      />
      <ul class="characters-list">
        <li class="characters-list-item">
          <h4 class="characters-list-title">King William</h4>
          <p class="characters-list-text">
            The lovable monarch leading the quest across kingdoms
          </p>
        </li>
        <li class="characters-list-item">
          <h4 class="characters-list-title">Royal Advisor Elric</h4>
          <p class="characters-list-text">
            Offers hints and encourages your journey
          </p>
        </li>
        <li class="characters-list-item">
          <h4 class="characters-list-title">Lady Amelia</h4>
          <p class="characters-list-text">
            Historian and puzzle master, sharing fun facts at each stop
          </p>
        </li>
        <li class="characters-list-item">
          <h4 class="characters-list-title">Rival Duke Horace</h4>
          <p class="characters-list-text">
            Tries to outmatch the King in puzzle duels
          </p>
        </li>
        <li class="characters-list-item">
          <h4 class="characters-list-title">Royal Pets</h4>
          <p class="characters-list-text">
            Collect and unlock animated pets who cheer you on!
          </p>
        </li>
      </ul>
    </div>

    <div class="characters-content-wrap-desktop">
      <ul class="characters-list-desktop">
        <li class="characters-list-item">
          <h4 class="characters-list-title">Royal Advisor Elric</h4>
          <p class="characters-list-text">
            Offers hints and encourages your journey
          </p>
        </li>
        <li class="characters-list-item">
          <h4 class="characters-list-title">Lady Amelia</h4>
          <p class="characters-list-text">
            Historian and puzzle master, sharing fun facts at each stop
          </p>
        </li>
      </ul>
      <div class="king-william-wrap">
        <h4 class="characters-list-title">King William</h4>
        <p class="characters-list-text">
          The lovable monarch leading the quest across kingdoms
        </p>
        <img
          class="characters-img-desktop"
          src="./img/desktop/characters-desktop-img.png"
          alt=""
        />
      </div>
      <ul class="characters-list-desktop">
        <li class="characters-list-item">
          <h4 class="characters-list-title">Rival Duke Horace</h4>
          <p class="characters-list-text">
            Tries to outmatch the King in puzzle duels
          </p>
        </li>
        <li class="characters-list-item">
          <h4 class="characters-list-title">Royal Pets</h4>
          <p class="characters-list-text">
            Collect and unlock animated pets who cheer you on!
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
