<section class="download-section">
  <div class="download-section-wrap container">
    <div class="download-title-wrap">
      <h2 class="download-title">
        <span class="text-fill">Your Royal Journey Awaits!</span>
        <span class="text-stroke">Your Royal Journey Awaits!</span>
      </h2>
    </div>
    <div class="dowload-content-wrap">
      <p class="download-text">Download Royal Journey and join King William’s global adventure!</p>
      <a class="download-gp-link" href="#"><img class="download-gp-img" src="./img/gp-button.png" alt=""></a>
    </div>
  </div>
</section>