<section class="exlorer-section" id="explorer">
  <div class="exlorer-section-wrap container">
    <div class="explorer-title-wrap">
      <img class="left-decor" src="./img/left-decor.png" alt="" />
      <h2 class="explorer-title">
        <span class="text-fill">City Explorer</span>
        <span class="text-stroke">City Explorer</span>
      </h2>
      <img class="right-decor" src="./img/right-decor.png" alt="" />
    </div>
    <div class="explorer-content-wrap">
      <p class="explorer-top-text">
        Every chapter unlocks a new city filled with its own visual theme,
        puzzles, and fun facts:
      </p>
      <div class="explorer-desktop-main-info">
        <img
          class="explorer-img"
          src="./img/mobile/explorer-img.png"
          alt="san francisco"/>

        <div class="explorer-wrapper">
          <ul class="explorer-list">
            <li class="explorer-list-item">
              <p class="explorer-list-text">
                <span class="explorer-list-text-highlight">Paris:</span> Puzzle
                your way through romantic gardens and Eiffel views
              </p>
            </li>
            <li class="explorer-list-item">
              <p class="explorer-list-text">
                <span class="explorer-list-text-highlight">Kyoto:</span> Solve
                elegant bamboo and blossom-themed boards
              </p>
            </li>
            <li class="explorer-list-item">
              <p class="explorer-list-text">
                <span class="explorer-list-text-highlight">New York:</span> Bright
                lights, dynamic levels, and modern tile sets
              </p>
            </li>
            <li class="explorer-list-item">
              <p class="explorer-list-text">
                <span class="explorer-list-text-highlight">Cairo:</span> Match
                ancient symbols in the shadows of the pyramids
              </p>
            </li>
            <li class="explorer-list-item">
              <p class="explorer-list-text">
                <span class="explorer-list-text-highlight">Barcelona:</span> Mosaic
                tiles and vibrant architecture challenges
              </p>
            </li>
          </ul>
          <p class="explorer-bottom-text">
            Each city has multiple sub-levels, secrets to discover, and animated
            backdrops.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
