<section class="faq-section" id="faq">
  <div class="faq-section-wrap container">
    <div class="faq-title-wrap">
      <img class="left-decor" src="./img/left-decor.png" alt="" />
      <h2 class="faq-title">
        <span class="text-fill">FAQ</span>
        <span class="text-stroke">FAQ</span>
      </h2>
      <img class="right-decor" src="./img/right-decor.png" alt="" />
    </div>
    <ul class="faq-list">
      <li class="faq-list-item">
        <div class="faq-list-title-wrap">
          <h4 class="faq-list-title">Is Royal Journey free to play?</h4>
          <button class="open-accordion-btn">
            <img class="arrow-down-img" src="./img/arrrow-down.png" alt="" />
            <img class="arrow-up-img" src="./img/arrrow-up.png" alt="">
          </button>
        </div>
        <p class="faq-list-hiden-text">
          Yes, it’s free to download and play with optional in-app purchases.
        </p>
      </li>
      <li class="faq-list-item">
        <div class="faq-list-title-wrap">
          <h4 class="faq-list-title">
            Do I need an internet connection to play?
          </h4>
          <button class="open-accordion-btn">
            <img class="arrow-down-img" src="./img/arrrow-down.png" alt="" />
            <img class="arrow-up-img" src="./img/arrrow-up.png" alt="">
          </button>
        </div>
        <p class="faq-list-hiden-text">
          No — the game supports offline play. You can sync when back online.
        </p>
      </li>
      <li class="faq-list-item">
        <div class="faq-list-title-wrap">
          <h4 class="faq-list-title">How many levels are there?</h4>
          <button class="open-accordion-btn">
            <img class="arrow-down-img" src="./img/arrrow-down.png" alt="" />
            <img class="arrow-up-img" src="./img/arrrow-up.png" alt="">
          </button>
        </div>
        <p class="faq-list-hiden-text">
          Over 2800+ levels, with more added regularly.
        </p>
      </li>
      <li class="faq-list-item">
        <div class="faq-list-title-wrap">
          <h4 class="faq-list-title">Are there leaderboards?</h4>
          <button class="open-accordion-btn">
            <img class="arrow-down-img" src="./img/arrrow-down.png" alt="" />
            <img class="arrow-up-img" src="./img/arrrow-up.png" alt="">
          </button>
        </div>
        <p class="faq-list-hiden-text">
          Yes, compete globally or with friends via the in-game leaderboard.
        </p>
      </li>
      <li class="faq-list-item">
        <div class="faq-list-title-wrap">
          <h4 class="faq-list-title">What’s the Royal Pass?</h4>
          <button class="open-accordion-btn">
            <img class="arrow-down-img" src="./img/arrrow-down.png" alt="" />
            <img class="arrow-up-img" src="./img/arrrow-up.png" alt="">
          </button>
        </div>
        <p class="faq-list-hiden-text">
          A seasonal event with exclusive rewards, boosters, and royal outfits
          for King William.
        </p>
      </li>
    </ul>
  </div>
</section>
