<footer class="footer-section">
  <div class="footer-content-wrap container">
    <ul class="footer-links-list">
      <li class="footer-links-item"><a class="footer-links" href="">Privacy Policy</a></li>
      <li class="footer-links-item"><a class="footer-links" href="">Terms & Conditions</a></li>
      <li class="footer-links-item"><a class="footer-links" href="">Cookies Policy</a></li>
    </ul>
    <p class="footer-rights">© 2025 magicroyalsaga.com – All rights reserved.</p>
  </div>
</footer>
