<header class="header-section">
  <nav class="header-nav container">
    <button class="burger-btn">
      <img class="burger-img" src="./img/mobile/burger-btn.png" alt="menu" />
    </button>
    <button class="close-burger-btn">
      <img
        class="close-menu-img"
        src="./img/mobile/close-burger-btn.png"
        alt="close menu"
      />
    </button>
    <ul class="hidden-sections-list">
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-link" href="#home">Home</a>
      </li>
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-link" href="#about">About the Game</a>
      </li>
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-link" href="#how-to-play"
          >How to Play</a
        >
      </li>
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-link" href="#features">Key Features</a>
      </li>
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-link" href="#characters">Characters</a>
      </li>
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-link" href="#explorer">City Explorer</a>
      </li>
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-link" href="#rewards">Royal Rewards</a>
      </li>
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-link" href="#faq">FAQ</a>
      </li>
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-link" href="#reviews">User Reviews</a>
      </li>
    </ul>
  </nav>
</header>

<div class="backdrop container">
  <ul class="bd-sections-list">
    <li class="bd-sections-item">
      <a class="bd-sections-item-link" href="#home">Home</a>
    </li>
    <li class="bd-sections-item">
      <a class="bd-sections-item-link" href="#about">About the Game</a>
    </li>
    <li class="bd-sections-item">
      <a class="bd-sections-item-link" href="#how-to-play">How to Play</a>
    </li>
    <li class="bd-sections-item">
      <a class="bd-sections-item-link" href="#features">Key Features</a>
    </li>
    <li class="bd-sections-item">
      <a class="bd-sections-item-link" href="#characters">Characters</a>
    </li>
    <li class="bd-sections-item">
      <a class="bd-sections-item-link" href="#explorer">City Explorer</a>
    </li>
    <li class="bd-sections-item">
      <a class="bd-sections-item-link" href="#rewards">Royal Rewards</a>
    </li>
    <li class="bd-sections-item">
      <a class="bd-sections-item-link" href="#faq">FAQ</a>
    </li>
    <li class="bd-sections-item">
      <a class="bd-sections-item-link" href="#reviews">User Reviews</a>
    </li>
  </ul>

  <ul class="bd-pages-list">
    <li class="bd-pages-iten">
      <a class="bd-pages" href="./privacy-policy.html">Privacy Policy</a>
    </li>
    <li class="bd-pages-iten">
      <a class="bd-pages" href="./terms-and-conditions.html"
        >Terms & Conditions</a
      >
    </li>
    <li class="bd-pages-iten">
      <a class="bd-pages" href="./cookies-policy.html">Cookies Policy</a>
    </li>
  </ul>
</div>
