<header class="header">
  <nav class="nav">
    <ul class="hidden-sections-list">
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-list" href="/#home">Home</a>
      </li>
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-list" href="/#about">About the Game</a>
      </li>
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-list" href="/#how-to-play">How to Play</a>
      </li>
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-list" href="/#features">Key Features</a>
      </li>
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-list" href="/#characters">Characters</a>
      </li>
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-list" href="/#explorer">City Explorer</a>
      </li>
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-list" href="/#rewards">Royal Rewards</a>
      </li>
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-list" href="/#faq">FAQ</a>
      </li>
      <li class="hidden-sections-item">
        <a class="hidden-sections-item-list" href="/#reviews">User Reviews</a>
      </li>
    </ul>
  </nav>
</header>

<div class="backdrop">
  <ul class="bd-sections-list">
    <li class="bd-sections-item">
      <a class="bd-sections-item-list" href="/#home">Home</a>
    </li>
    <li class="bd-sections-item">
      <a class="bd-sections-item-list" href="/#about">About the Game</a>
    </li>
    <li class="bd-sections-item">
      <a class="bd-sections-item-list" href="/#how-toplay">How to Play</a>
    </li>
    <li class="bd-sections-item">
      <a class="bd-sections-item-list" href="/#features">Key Features</a>
    </li>
    <li class="bd-sections-item">
      <a class="bd-sections-item-list" href="/#characters">Characters</a>
    </li>
    <li class="bd-sections-item">
      <a class="bd-sections-item-list" href="/#explorer">City Explorer</a>
    </li>
    <li class="bd-sections-item">
      <a class="bd-sections-item-list" href="/#rewards">Royal Rewards</a>
    </li>
    <li class="bd-sections-item">
      <a class="bd-sections-item-list" href="/#faq">FAQ</a>
    </li>
    <li class="bd-sections-item">
      <a class="bd-sections-item-list" href="/#reviews">User Reviews</a>
    </li>
  </ul>

  <ul class="bd-pages-list">
    <li class="bd-pages-iten">
      <a class="bd-pages" href="./privacy-policy.html">Privacy Policy</a>
    </li>
    <li class="bd-pages-iten">
      <a class="bd-pages" href="./terms-and-conditions.html">Terms & Conditions</a>
    </li>
    <li class="bd-pages-iten">
      <a class="bd-pages" href="./cookies-policy.html">Cookies Policy</a>
    </li>
  </ul>
</div>
