<section class="hero-section" id="home">
  <div class="hero-section-wrap container">
    <div class="hero-text-wrap">
      <h1 class="hero-title">
        <span class="text-fill">Travel, Match, and Reign!</span>
        <span class="text-stroke" aria-hidden="true"
          >Travel, Match, and Reign!</span
        >
      </h1>
      <p class="hero-text">
        <span class="text-hero-fill"
          >Embark on a puzzle-filled voyage with King William across majestic
          lands!</span
        ><span class="text-hero-stroke"
          >Embark on a puzzle-filled voyage with King William across majestic
          lands!</span
        >
      </p>
    </div>
    <a class="hero-link" href="#"
      ><img class="hero-link-img" src="./img/gp-button.png" alt="google play"
    /></a>
  </div>
</section>
