<section class="how-to-play-section" id="how-to-play">
  <div class="how-to-play-section-wrap container">
    <div class="about-title-wrap">
      <img class="left-decor" src="./img/left-decor.png" alt="" />
      <h2 class="how-to-play-title">
        <span class="text-fill">How to Play</span>
        <span class="text-stroke" aria-hidden="true">How to Play</span>
      </h2>
      <img class="right-decor" src="./img/right-decor.png" alt="" />
    </div>
    <div class="how-to-play-content-wrap">
      <img class="how-to-play-desktop-img" src="./img/desktop/how-to-play-desktop.png" alt="">
      <img class="how-to-play-img" src="./img/mobile/how-to-play.png" alt="">
      <ul class="how-to-play-list">
        <li class="how-to-play-item">
          <img class="how-to-play" src="./img/mobile/masks.png" alt="masks" />
          <div>
            <h4 class="how-to-play-list-title">Swap & Match:</h4>
            <p class="how-to-play-list-text">Match 3 or more tiles to clear levels and reach objectives</p>
          </div>
        </li>
        <li class="how-to-play-item">
          <img class="how-to-play" src="./img/mobile/crown.png" alt="crown" />
          <div>
            <h4 class="how-to-play-list-title">Follow the King:</h4>
            <p class="how-to-play-list-text">Travel with King William and unlock cities along the royal path</p>
          </div>
        </li>
        <li class="how-to-play-item">
          <img class="how-to-play" src="./img/mobile/gift-box.png" alt="gift box" />
          <div>
            <h4 class="how-to-play-list-title">Earn Rewards:</h4>
            <p class="how-to-play-list-text">Receive stars, crowns, and boosters as you progress</p>
          </div>
        </li>
        <li class="how-to-play-item">
          <img class="how-to-play" src="./img/mobile/list.png" alt="paper list" />
          <div>
            <h4 class="how-to-play-list-title">Unveil Stories:</h4>
            <p class="how-to-play-list-text">Unlock charming tales and local secrets with every chapter</p>
          </div>
        </li>
        <li class="how-to-play-item">
          <img class="how-to-play" src="./img/mobile/medal.png" alt="medal" />
          <div>
            <h4 class="how-to-play-list-title">Compete & Climb:</h4>
            <p class="how-to-play-list-text">Rise on the leaderboard and prove your match-three mastery</p>
          </div>
        </li>
        <li class="how-to-play-item">
          <img class="how-to-play" src="./img/mobile/star.png" alt="star" />
          <div>
            <h4 class="how-to-play-list-title">Play Anywhere:</h4>
            <p class="how-to-play-list-text">Enjoy offline play and sync progress across devices</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
