<section class="reviews-section" id="reviews">
  <div class="reviews-section-wrap container">
    <div class="reviews-title-wrap">
      <img class="left-decor" src="./img/left-decor.png" alt="" />
      <h2 class="reviews-title">
        <span class="text-fill">User Reviews</span>
        <span class="text-stroke">User Reviews</span>
      </h2>
      <img class="right-decor" src="./img/right-decor.png" alt="" />
    </div>
    <div class="reviews-content-wrap">
      <img class="reviews-dog-img" src="./img/mobile/reviews-img.png" alt="dog">
      <ul class="reviews-list">
        <li class="reviews-list-item">
          <div class="reviews-list-title-wrap">
            <h4 class="reviews-list-title">Charlotte Monroe: </h4>
            <img class="reviews-stars-img" src="./img/stars-review.png" alt="stars">
          </div>
          <p class="review-list-text">“I love the storyline and seeing King William explore each city. Makes every level feel fresh!”</p>
        </li>
        <li class="reviews-list-item">
          <div class="reviews-list-title-wrap">
            <h4 class="reviews-list-title">Daniel Richie:</h4>
            <img class="reviews-stars-img" src="./img/stars-review.png" alt="stars">
          </div>
          <p class="review-list-text">“Match-three with a twist! Gorgeous visuals and tons of levels!”</p>
        </li>
        <li class="reviews-list-item">
          <div class="reviews-list-title-wrap">
            <h4 class="reviews-list-title">Liam Taylor:</h4>
            <img class="reviews-stars-img" src="./img/stars-review.png" alt="stars">
          </div>
          <p class="review-list-text">“Been playing for weeks, and I’m only halfway! So much content!”</p>
        </li>
        <li class="reviews-list-item">
          <div class="reviews-list-title-wrap">
            <h4 class="reviews-list-title">Ava Longard:</h4>
            <img class="reviews-stars-img" src="./img/stars-review.png" alt="stars">
          </div>
          <p class="review-list-text">“Perfect game for travel lovers and puzzle fans alike. The city themes are beautiful.”</p>
        </li>
        <li class="reviews-list-item">
          <div class="reviews-list-title-wrap">
            <h4 class="reviews-list-title">Emma Swift:</h4>
            <img class="reviews-stars-img" src="./img/stars-review.png" alt="stars">
          </div>
          <p class="review-list-text">“Best match-three game I’ve played. It’s relaxing, challenging, and visually stunning.”</p>
        </li>
      </ul>
    </div>
  </div>
</section>