<section class="rewards-section" id="rewards">
  <div class="rewards-section-wrap container">
    <div class="rewards-title-wrap">
      <img class="left-decor" src="./img/left-decor.png" alt="" />
      <h2 class="rewards-title">
        <span class="text-fill">Royal Rewards</span>
        <span class="text-stroke">Royal Rewards</span>
      </h2>
      <img class="right-decor" src="./img/right-decor.png" alt="" />
    </div>
    <div class="rewards-content-wrap">
      <ul class="rewards-list">
        <li class="rewards-list-item">
          <h4 class="rewards-list-title">Achievements</h4>
          <p class="rewards-list-text">Get crowned for puzzle mastery</p>
        </li>
        <li class="rewards-list-item">
          <h4 class="rewards-list-title">Daily Bonuses: </h4>
          <p class="rewards-list-text">Free bonus boosters and coins every day</p>
        </li>
      </ul>
      <img class="rewarst-list-img" src="./img/mobile/rewards-img.png" alt="">
      <ul class="rewards-list">
        <li class="rewards-list-item">
          <h4 class="rewards-list-title">Mystery Chests: </h4>
          <p class="rewards-list-text">Complete goals to unlock surprise prizes</p>
        </li>
        <li class="rewards-list-item">
          <h4 class="rewards-list-title">Royal Pass: </h4>
          <p class="rewards-list-text">Optional seasonal pass with exclusive rewards</p>
        </li>
      </ul>
    </div>
  </div>
</section>